/* Appliquer un style de base au GridPane */
.grid-pane {
    -fx-background-color: #f0f0f0;
    -fx-padding: 25;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

/* Style pour les TextField et PasswordField */
.text-field, .password-field {
    -fx-font-size: 14px;
    -fx-padding: 10;
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
    -fx-border-radius: 5;
}

/* Style pour les boutons */
.button {
    -fx-font-size: 14px;
    -fx-padding: 10;
    -fx-background-color: #0078d7;
    -fx-text-fill: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #005a9e;
}

.button:pressed {
    -fx-background-color: #004080;
}

/* Style pour les Hyperlinks */
.hyperlink {
    -fx-text-fill: #0078d7;
    -fx-font-size: 14px;
}

.hyperlink:hover {
    -fx-text-fill: #005a9e;
}

/* Alignement des boutons dans la même ligne */
.button-container {
    -fx-alignment: center-right;
    -fx-spacing: 10;
}

/* Styles existants */
.form-container {
    -fx-padding: 10;
}

.label-header {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.text-area {
    -fx-padding: 4 4 4 4;
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
    -fx-border-radius: 5;
}

.table-view {
    -fx-base: #F9F9F9;
    -fx-control-inner-background: #F9F9F9;
    -fx-background-color: #F9F9F9;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 5;
    -fx-selection-bar: #E1E1E1; /* Couleur de fond pour les lignes sélectionnées */
    -fx-selection-bar-non-focused: #E1E1E1;
}

.table-row-cell:filled:selected, .table-row-cell:filled:selected:focused {
    -fx-background-color: #039ED3;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-text-fill: -fx-selection-bar-text;
}

.table-column {
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.table-cell {
    -fx-padding: 10px;
    -fx-border-color: #D3D3D3;
    -fx-border-width: 0 0 1 0;
}

.table-view .column-header-background .label {
    -fx-font-weight: bold;
    -fx-background-color: #F3F3F3;
    -fx-text-fill: #333333;
}

.table-view:focused .focused-cell {
    -fx-border-color: -fx-focus-color;
    -fx-border-width: 1px;
    -fx-background-color: #039ED3;
    -fx-background-insets: 0, 1, 1, 1;
}
